@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC);

$color: rgb(34,34,34); // black
$green: rgb(58, 127, 56);
$clear: rgba(255,255,255,0.5);
$font: 'Playfair Display SC', serif;

// bower:scss
// endbower

body {
    background: #fafafa;
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // color: #333;
    font-size: 100%;
    font-family: 'Source Sans Pro', sans-serif; 
    color: #667;
    h3 {
    font-family: $font
    }
}

 /////banner
 #banner {
    //background: url(../images/Background-Image.png) repeat center center fixed; 
    background: url(../images/iphone-hand.png) no-repeat right bottom;
    background-size: 40%; 
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 5em;
    padding-bottom: 15em;
    background-color: $color;
    margin-bottom: 0;

    img {
    padding-left: 0.5em;
    width: 27%;
    height: auto; }
}


.park {
    margin: 15px;
}

////// button 
button {
    box-shadow: 0 3px 10px #333;
    color: rgba(58, 127, 56, 0.99);
    border-radius: 9px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font: bold 17px Arial;
    text-decoration: none;
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgb(82,179,53); 
 }

#banner button a {
    color: white; 
}

////// phone section
#phoneimg {
    margin-bottom: 3em;
    padding: 8em;
    height: 100%;
    background: silver; 

    h3 {
        margin-bottom: 3em; } 

    p {
        color: $color; }

    #phone {
        width: 25%;
        height: auto; }

    h5 {
        color: rgb(57,126,54); }

    .side {
        margin-top: 6em;
        padding: 1em; }

    #col img {
        float: right;
        position: static; }    
}

///// fix
html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    margin-bottom: 4em;
}

.wrapper {
    background: $clear;
    padding: 15px;
    height: 100%;
    margin: 5px 5px; 
    box-shadow: 0 3px 10px #333;
}

.col-1 {
    float: left;
}

.col-2 {
    float: right;
}

#clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

#location {
    padding: 5em;
    margin: 7em;
    text-align: center;
    border-bottom: 1px solid $green; 
    margin-bottom: 12em;
}

////// founder section
.join {
    padding: 4em;
    color: $color;
    margin: 5em;
    margin-bottom: 12em;

    p {
    font-size: 14px;
    }
}

/////// part
#part {
    background: url(../images/Background-Image.png) no-repeat center center fixed; 
    background-size: 30em;
    display: block;
    width: auto;
    height: 2em;
    padding: 2px 22px;
    margin: 5em;
    top: 25%;
    left: 0;
    font-size: 2em;
    display: block;
    img {
        width: 75%;
    }
}

//// order section 
#order {
    padding: 7em;
    //border-top: 1px solid $green; 
    background: url(../images/order.jpg) no-repeat center center fixed;
    margin-bottom: 12em;

    h3 {
    text-align: center; 
    margin-bottom: 1.5em;
    font-size: 2em;}

    img {
    width: 17%;
    height: auto; }
 }


////// section menu image 

#rest {
    //background-size: 8em;
    display: block;
    width: auto;
    padding: 2px 22px;
    margin: 4em;
    margin-bottom: 7em;
    top: 25%;
    left: 0;
    font-size: 2em;
    display: block;
    img {
        width: 50%;
    }
    h3 {
    margin-bottom: 2em;
    }
    .carousel-inner{
    width: 75%;
    }
}

///////// footer  

footer {
    text-align: center;
    font-size: 1em;
    padding: 3em;
    background: #eee;
    border-top: 1px solid #ccc;
    text-align: center;
}

///// sign in
#trig {
//  position: fixed;
//  top: 10px;
  right: 20px;
//  z-index: 1;
}

//.menu-icon {
//    position: fixed;
//    top: 300px;
//    right: 20px;
//    width: 40px;
//    z-index: 1;
//}

///////// social
#social {
  position: fixed;
  top: 185px;
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  /*background: url(../images/social-icons.png)no-repeat;*/
  overflow: hidden; /* sets overflow outside the element to hidden*/
  white-space: nowrap; /* prevent line brakes (text wrapper) */
  text-indent: 100%; /* indents the link text */ 
}

a.fbook, a.twit, a.gplus {
  background: url(../images/social-icons.png) no-repeat;
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: -40px 0; }
a.fbook:active { background-position: -80px 0; }

a.twit { background-position: 0 -40px; }
a.twit:hover { background-position: -40px -40px; }
a.twit:active { background-position: -80px -40px; }

a.gplus { background-position: 0 -80px; }
a.gplus:hover { background-position: -40px -80px; }
a.gplus:active { background-position: -80px -80px; }

//////// navbar
#navbar {
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #ccc;
  text-align: center;

  nav {
    border-left: 1px solid #ccc;
    a {
      display: inline-block;
      width: 15%;
      margin: 0;
      padding: 15px 0;
      text-transform: uppercase;
      color: rgba(58, 127, 56, 0.99);
      text-align: center;
      border-right: 1px solid #ccc;
      text-decoration: none;
      font: 1em $font;
    }  

     a:hover {
       color: $color;
   }

   a.menu-icon {
       display: none;
   }
 } 
}


