// bower:scss
// endbower

body {
    background: #fafafa;
    // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // color: #333;
}

////// founder section
.join {
    padding: 4em;
    color: rgb(34,34,34);
    border-top: 1px solid #ccc; 

    p {
    font-size: 14px;
    }
}

//// order section 
#order {
    padding: 3em;

    h3 {
    text-align: center; }

    img {
    width: 15%;
    height: auto; }
 }

 /////banner
 #banner {
    background: url(../images/iphone-hand.png) no-repeat right bottom;
    background-size: 40%; 
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 5em;
    padding-bottom: 15em;
    background-color: rgb(34,34,34);

    img {
    padding-left: 0.5em;
    width: 27%;
    height: auto; }
}

////// button 
button {
    box-shadow: 0 3px 10px #333;
    color: green;
    border-radius: 9px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font: bold 17px Arial;
    text-decoration: none;
    padding: 6px;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: rgb(82,179,53); 
 }

#banner button a {
    color: white; 
}

////// phone section
#phoneimg {
    margin-bottom: 3em;
    padding: 5em;
    height: 100%;
    background: silver; 

    h2, h4 {
        color: white;
        text-align: center; } 

    p {
        color: rgb(34,34,34); }

    #phone {
        width: 25%;
        height: auto; }

    h5 {
        color: rgb(57,126,54); }

    .side {
        margin-top: 6em;
        padding: 1em; }

    #col img {
        float: right;
        position: static; }    
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}